/* Coolors Exported Palette - https://coolors.co/1c1616-262630-2c374d-444943-9f6b32-532623 */

/* CSS HEX */
--coffee-bean: #1c1616ff;
--shadow-grey: #262630ff;
--twilight-indigo: #2c374dff;
--charcoal-brown: #444943ff;
--golden-earth: #9f6b32ff;
--espresso: #532623ff;

/* CSS HSL */
--coffee-bean: hsla(0, 12%, 10%, 1);
--shadow-grey: hsla(240, 12%, 17%, 1);
--twilight-indigo: hsla(220, 27%, 24%, 1);
--charcoal-brown: hsla(110, 4%, 27%, 1);
--golden-earth: hsla(31, 52%, 41%, 1);
--espresso: hsla(4, 41%, 23%, 1);

/* SCSS HEX */
$coffee-bean: #1c1616ff;
$shadow-grey: #262630ff;
$twilight-indigo: #2c374dff;
$charcoal-brown: #444943ff;
$golden-earth: #9f6b32ff;
$espresso: #532623ff;

/* SCSS HSL */
$coffee-bean: hsla(0, 12%, 10%, 1);
$shadow-grey: hsla(240, 12%, 17%, 1);
$twilight-indigo: hsla(220, 27%, 24%, 1);
$charcoal-brown: hsla(110, 4%, 27%, 1);
$golden-earth: hsla(31, 52%, 41%, 1);
$espresso: hsla(4, 41%, 23%, 1);

/* SCSS RGB */
$coffee-bean: rgba(28, 22, 22, 1);
$shadow-grey: rgba(38, 38, 48, 1);
$twilight-indigo: rgba(44, 55, 77, 1);
$charcoal-brown: rgba(68, 73, 67, 1);
$golden-earth: rgba(159, 107, 50, 1);
$espresso: rgba(83, 38, 35, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #1c1616ff, #262630ff, #2c374dff, #444943ff, #9f6b32ff, #532623ff);
$gradient-right: linear-gradient(90deg, #1c1616ff, #262630ff, #2c374dff, #444943ff, #9f6b32ff, #532623ff);
$gradient-bottom: linear-gradient(180deg, #1c1616ff, #262630ff, #2c374dff, #444943ff, #9f6b32ff, #532623ff);
$gradient-left: linear-gradient(270deg, #1c1616ff, #262630ff, #2c374dff, #444943ff, #9f6b32ff, #532623ff);
$gradient-top-right: linear-gradient(45deg, #1c1616ff, #262630ff, #2c374dff, #444943ff, #9f6b32ff, #532623ff);
$gradient-bottom-right: linear-gradient(135deg, #1c1616ff, #262630ff, #2c374dff, #444943ff, #9f6b32ff, #532623ff);
$gradient-top-left: linear-gradient(225deg, #1c1616ff, #262630ff, #2c374dff, #444943ff, #9f6b32ff, #532623ff);
$gradient-bottom-left: linear-gradient(315deg, #1c1616ff, #262630ff, #2c374dff, #444943ff, #9f6b32ff, #532623ff);
$gradient-radial: radial-gradient(#1c1616ff, #262630ff, #2c374dff, #444943ff, #9f6b32ff, #532623ff);